dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0
Pillow
django-cors-headers==2.4.0
django-rest-framework-nested==0.0.1
django-rest-passwordreset==0.9.7
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
drf-nested-routers==0.90.2
python-decouple==3.1
python-dotenv==0.9.1

